{#- Variables: command_line, user_reply -#}
The agent asked the user to confirm this command:

  {{ command_line }}

User reply (full text):

{{ user_reply }}

Classify whether the user approved running this command.
